<html>
<head>
	<title>OrbitNext</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
	<table border="1">
	<thead>
		<tr>
		{% for col in colnames %}
		<th>{{ col }}</th>
            	{% endfor %}
        	</tr>
    	</thead>
    	<tbody>
        	{% for record in records %}
        	<tr>
            		{% for value in record %}
            		<td>{{ value }}</td>
            		{% endfor %}
        	</tr>
        	{% endfor %}
	</tbody>
	</table>
